<div class="container">
  <h1>Work Orders for October 1, 2019</h1>
  <br>
  <table class="table table-striped">
    <thead>
      <tr>
        <% @headers.each do |header| %>
          <th><%= header %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @times.each do |time| %>
        <% work_time = Time.parse(time) %>
        <tr class="trPointer">
          <th><%= time %></th>
          <% @technicians.each do |technician| %>
            <% validate_orders(technician, work_time)%>
            <% if @order_info %>
              <td><%= @order_info.location.name %>
                <%= @order_info.location.city %>
                <br> <%= @order_info.location.city %>
                <br> <%= @order_info.time.strftime("%H:%M") %>
                <br> $<%= @order_info.price %>
              </td>
            <% else %>
              <td data-bs-toggle="modal" data-bs-target="#<%= dom_id(@dom) %>">
                <%= render partial: "popup", locals: {available_time: @available_time, dom: @dom} %>
              </td>
            <% end %>
          <% end %>
      <% end %>
    </tbody>
  </table>
</div>
