<h1>Work Orders for October 1, 2019</h1>
<br>
  <table class="table table-striped">
    <thead>
      <tr>
        <% @headers.each do |header| %>
          <th><%= header %></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% @times.each do |time| %>
        <% work_time = Time.parse(time) %>
        <tr class="trPointer">
          <th><%= time %></th>
          <% @technicians.each do |technician| %>
            <% order_info = nil%>
            <% technician.work_orders.each do |order| %>
              <% start_time = Time.parse(order.time.strftime("%H:%M")) %>
              <% end_time = start_time + order.duration.minutes%>
              <% if time_valid?(work_time, start_time, end_time) %>
                <% order_info = order %>
              <% end %>
            <% end %>
            <% if order_info %>
              <td><%= order_info.location.name %>
                <%= order_info.location.city %>
                <br> <%= order_info.location.city %>
                <br> <%= order_info.time.strftime("%H:%M") %>
                <br> $<%= order_info.price %>
              </td>
            <% else %>
              <td>x</td>
            <% end %>
          <% end %>
      <% end %>
    </tbody>
  </table>
